@use '../../utilities/variables' as v;

.saved-form-input {
  background-color: v.$input-background-color;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: auto;
  display: inline-block;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  box-shadow: v.$box-shadow;
  min-width: 12rem;
}

.saved-description {
  background-color: v.$input-background-color;
  color: v.$text-color;
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin: 0.25rem 0;
  width: 40ch; /* Approximate width based on cols */
  height: 6rem;
}
