@use '../../utilities/variables' as v;

#navbar {
  display: flex;
  margin: -8px;
  margin-bottom: 8px;
  background-color: v.$nav-background-color;
}

#navbar a {
  text-decoration: none;
}

.navbar-icon {
  width: 100%;
  display: block;
  margin: auto;
}

.navbar-element {
  padding: 1rem;
  border-bottom: solid v.$nav-background-color 2px;
  max-width: 8rem;
  text-align: center;
  color: v.$text-color;
  font-family: v.$font-family;
}

.navbar-element:hover {
  border-bottom: solid white 2px;
}