.fetch-button{
    border-radius: 2rem;
    width: 8rem;
    border: none;
    padding: 1rem 1rem;
    margin: 0.5rem 0;
    background-color: #3c393b;
    color: #ccc4cc;
    font-family: Roboto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.fetch-button:hover{
    background-color:#464646;
}

.fetch-button:active{
    background-color: #757575;
    transition: all 2s ease-out;
}