@use '../../utilities/variables' as v;

.fetch-button {
  border-radius: 2rem;
  width: 8rem;
  border: none;
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: v.$input-background-color;
  color: v.$text-color;
  font-family: v.$font-family;
  box-shadow: v.$box-shadow;
}

.fetch-button:hover {
  background-color: v.$button-hover-background-color;
}

.fetch-button:active {
  background-color: v.$button-active-background-color;
  transition: all 2s ease-out;
}

.saved-form-input {
  background-color: v.$input-background-color;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: auto;
  display: inline-block;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  box-shadow: v.$box-shadow;
  min-width: 12rem;
}

.saved-description {
  background-color: v.$input-background-color;
  color: v.$text-color;
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin: 0.25rem 0;
  width: 40ch; /* Approximate width based on cols */
  height: 6rem;
}