@use 'utilities/variables' as v;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: v.$background-color;
  color: v.$text-color;
  font-family: v.$font-family;
}

.form {
  background-color: v.$form-background-color;
  border-radius: 1rem;
  padding: 0.75rem;
  display: inline-block;
  margin: 0.5rem;
}

input {
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  background-color: v.$input-background-color;
  color: v.$text-color;
  font-family: v.$font-family;
}

select {
  background-color: v.$input-background-color;
  color: v.$text-color;
  margin: 0.5rem 0;
}

#yes,
#no,
#terms,
#offline,
#online {
  margin-right: 0.25rem;
}

#description {
  background-color: v.$input-background-color;
  color: v.$text-color;
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin: 0.25rem 0;
}
